*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1{
   font-size: 1.5rem;
}
h4{
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #aaa;
  margin-left: 20px;
}

.dummy-icon{
  font-size: 1.5rem;
  color: #fff;

}
p,a{
  font-size: 0.9rem;
}
hr{
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 12px 0;
}


::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: none;
}

::-webkit-scrollbar-thumb{
  background: transparent;
  border-radius: 5px;
}

.sidebar:hover::-webkit-scrollbar-thumb{
  background: #717171 ;
}

::-webkit-scrollbar-thumb:hover{
  background: #888;
}

.dummy-icon{
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* header */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
}
.logo-img{
  position: relative;
  height: 50px;
  width: 50px;

}
 img.im{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
#logo-text{
  letter-spacing: -1.5px ;
  color: #fff;

}

.logo{
  display: flex;
  align-items:center ;
}

.logo-container {
  display: flex;
  align-items:center ;
}
.search-container {
  display: flex;
  align-items:center ;
  flex: 0 1 685px;
  /* border-radius: 8px; */

}
.search-container form{
  position: relative;
  width: 100%;
  /* border-radius: 8px; */
}

.search-container input{
  height: 40px;
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  background-color: #121212;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: #fff;
  font-size: 1rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  /* border-right: none; */

} 

.search{
  height: 40px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  z-index: 28;
  outline: none;
  border: none;
  border-left: none;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
 


}

.mic{
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  margin-left: 18px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: #181818;
}


.profile-container{
  display: flex;
  align-items: center;
}

.profile-container img{
  margin-left: 25px;
}
.profile-box{
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* overflow: hidden; */
    margin-right: 25px;   
}

.body-container{
  display: flex;
  position: fixed;
  height: calc(100vh -60px);
  top: 60px;
}

.sidebar{
  background-color: #121212;
  padding-top: 10px;
  width: 240px;
  overflow-y: scroll;
  color: #fff;
}

.sidebar a{
  text-decoration: none;
  color: #fff;

}
.sidebar-items{
  display: flex;
  flex-direction: column;
}

.sidebar-item{
  display: flex;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
  height: 40px;
}

.sidebar-item:hover{
  background-color: #4c4c4c;

}

.sidebar-item .dummy-icon{
  margin-right: 24px;
}

.content{
  width: calc(100vw - 240px);
}

.chips-wrapper{
  overflow-x: scroll ;
  background-color: #181818;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);



}
.chips-wrapper::-webkit-scrollbar{
  height: 0;
}

.chip{
  margin: 12px 6px;
  background-color: #373737;
  padding: 6px 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;

}

.chip:hover{
  background-color: #4d4d4d;
}


.video-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;
  padding: 20px 25px;
  background-color: #181818;
  overflow-y: scroll;
  height: calc(100vh - 116px);
}
.video-content-cover{
  position: relative;
  transition: 0.5s;
  transition-delay: 0.05s ;
}


.video-content-cover:hover{
  transform: translateY(60px);
  z-index: 999;
}


.video-content-cover:nth-child(4n+1):hover{
  transform: translate(50px,60px);
  z-index: 999;
}


.video-content-cover:nth-child(4n+4):hover{
  transform: translate(-30px,60px);
  z-index: 999;
}

.video-content{
  margin-bottom: 25px;
  position: relative;
  transition: 0.5s;
  width: 100%;
}

.video-content:hover{
  transform: scale(1.2);
  z-index: 5;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #202020;
  border-radius: 4px;
}

.video-content:hover .video-details{
  background-color: #202020;
  padding: 10px;
}
.video-box{
  position: relative;
  width: auto;
  height: 145px;
  display: block;
}

.channel-logo{
  position: relative;
 min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.video-content:hover .channel-logo{
  min-width: 25px;
  height: 25px;
}

.video-details{
  display: flex;
  color: #fff;
  padding-top: 12px;
}
.detail{
  margin-left: 12px ;
}

.title{
  font-size: 0.9rem
}

.video-content:hover .title{
  font-size: 0.7rem;

}

.channel-name{
   font-size: 0.8rem;
   margin-top: 10px;
   color: #aaa;
}

.views-upload{
  display: flex;
  font-size: 0.8rem;
  color: #aaa;
}

.video-content:hover .views-upload{
  font-size: 0.5rem;
}

.upload{
  margin-left: 5px;
}

.hidden-content{
   display: none;
   padding: 5px 10px ;
}

.video-content:hover .hidden-content{
  display: block;
}

.btn{
  padding: 5px 0;
  color: #aaa;
  text-transform: uppercase;
  width: 100%;
  background-color: #373737;
  text-align: center;
  margin: 5px 0;
  font-size: 0.5rem ;
  cursor: pointer;
  display: flex ;
  align-items: center;
  justify-content: center;
}

.btn .dummy-icon{
  font-size: 0.7rem;
  margin-right: 5px;
  color: #aaa ;
}


@media (max-width:1200px) {
  .sidebar{
    width: 70px;
    overflow-x: hidden;
  }

  .more{
    display: none;
  }
  .content{
    width: calc(100vw - 70px);
  }
}

@media (max-width:1050px) {
  .video-container{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width:820px) {
  .video-container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:600px) {
  .video-container{
    grid-template-columns: 1fr;
  }

  .search-container,
  .grid-fill{
    display: none ;
  }
  .video-container{
    grid-gap: 10px;
    padding: 10px;

  }
  .header{
    padding-right: 10px;
  }
}